*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page {
    width: 100%;
}
        /* section_normal_1 */
.pixfort_normal_1 {
    width: 100%;
}
.header_style {
    width: 100%;
    display: flex;
    justify-content: center;
}
.pix_builder_bg {
}
.container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    
    
}
.sixteen {
    width: 100%;
    position: relative;
    padding: 15px;
    
}
.one-third {
}
.column {
    display: flex;
    
}
.alpha {
}
.two-thirds {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.omega {
    display: flex;
    flex-wrap: wrap;
}
.htext_style {
    margin-right: 10px;
}
.editContent {
    flex-basis: 100%;
}
.pix_text {
    font-size: 20px;
    color: #DDDDDD;
}
.slow_fade {
    text-decoration: none;
    color: #478253;
}
.social_button {
}
            /* section_normal_4_2 */
.big_padding {
    border: 2px solid #DDDDDD;
    
    display: flex;
    justify-content: center;
}
.dark {
    background-color: #333333;
}
.columns {
    display: flex;
    margin-top: 15px;
    gap: 20px;

}
.eight {
}
.pix_container {
    margin-top: 0;
}
.img_style {
}
.bold_text {
    font-weight: bold;
}
.big_text {
    font-size: 20px;
}
.blue_text {
    color: #2DC0E8;
}
.big_title {
    color: white;
    font-size: 54px;
    margin-top: -40px;
    
}
.normal_text {
    font-size: 17px;
}
.light_gray {
    color: lightgray;
    margin-top: -40px;
}
.pix_button {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background-color: #2DC0E8;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid hsl(193, 60%, 46%);
}
.btn_normal {
}
.pix_button_flat {
}
.blue_bg {
}
.ti-eye {
    margin-right: 5px;
}
        /* section_normal_6 */
.envato_unbounce {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #EEEEEE;
    gap: 20px;
}
.L1_style {
    flex-basis: 100%;
    text-align: center;
    color: #696969;
    padding: 10px;
}
.L1_style > .editContent.pix_text{
    color: #696969;
    font-size: 25px;
}
.L2_style {
    flex-basis: 100%;
    text-align: center;
    
}
.L2_style > .editContent.pix_text{
    color: #B3B3B3;
}
.envato_unbounce.pix_builder_bg{
   
}
.box{
    margin-top: 5%;
    width: 100%;
    display: flex;
    gap: 20px;
}
.stbox {
    
}
.box_1 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgb(128, 128, 128);
    border-radius: 5px;
}
.b_style {
    padding: 20px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}
.logo_style {
}
.txt_style {
}
.txt {
    color: #B3B3B3;
}
.stars_span {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.env_st.editContent > .pix_text{
    color: #2DC0E8;
    
}
.box_2 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgb(128, 128, 128);
    border-radius: 5px;
}
.star {
}
.pixfort_agency_14 {
    border: 2px solid #B3B3B3;
    width: 100%;
}
.foot_st {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.f1_style > .editContent > .pix_text {
    font-size: 35px;
    color: #478253;
}
.f2_style {
    width: 70%;
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.f2_style > .editContent > .pix_text{
    color: #696969;
}
.second_link {
    margin-top: 10px;
    border: 5px solid #478253;
    padding: 20px;
    
}
.get_2_btn {
    font-size: 25px;
    
}
.rights_st > .editContent > .pix_text {
    color: #696969;
}
.editContent > .pix_text > .rights_st{
    color: #696969;
}
.editContent > .pix_text > .pixfort_st {
    color: #478253;
    font-weight: bold;
    font-size: 22px;
}
.clearfix {
}
.center_btn {
}
.pix_inline_block {
    display: flex;
    flex-direction: row;
    gap: 20px;
}